/* Dentro del archivo "styles.css" */
@media (max-width: 576px) {
  .mi-cartel {
    font-size: 14px;
  }

  body {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Ajustar imágenes */
  img {
    width: 100%;
    height: auto;
  }
}

/* El resto de tu CSS */
.mi-cartel {
  background-color: hsl(0, 81%, 42%);
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  color: #ccc;
  opacity: 1;
  transition: opacity 0.8s ease;
}

body {
  min-height: 100vh;
  padding-bottom: 1.25rem;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

