/* Estilos para el cartel */
.mi-cartel {
  background-color: hsl(0, 81%, 42%);
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  color: #ccc;
  opacity: 1;
  transition: opacity 0.8s ease;
}
@media (max-width: 576px) {
  .mi-cartel {
    font-size: 16px; /* Reducir el tamaño de fuente */
    padding: 8px; /* Ajustar el padding */
  }
}

/* Estilos generales */
body {
  min-height: 100vh;
  padding: 1rem; /* Ajustar el padding general */
  text-align: justify;
  font-size: 16px;
  margin: 0; /* Eliminar los márgenes */
}

/* Estilos del contenedor principal */
.container {
  max-width: 100%; /* Cambiar a ancho máximo del 100% */
  padding: 1rem; /* Ajustar el padding del contenedor */
  margin: 0 auto;
}