/* Dentro del archivo "styles.css" */
@media (max-width: 576px) {
  .mi-cartel {
    font-size: 14px;
    margin-bottom: 20px; /* Aumenta el margen inferior entre .mi-cartel y el siguiente elemento */
  }

  body {
    margin-bottom: 30px; /* Aumenta el margen inferior del cuerpo */
    font-size: 18px;
  }

  .container {
    margin-top: 30px; /* Aumenta el margen superior del contenedor */
    margin-bottom: 30px; /* Aumenta el margen inferior del contenedor */
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; /* Aumenta el margen inferior de las imágenes */
  }
}

/* El resto de tu CSS */
.mi-cartel {
  background-color: hsl(0, 81%, 42%);
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  color: #ccc;
  opacity: 1;
  transition: opacity 0.8s ease;
  margin-bottom: 30px; /* Aumenta el margen inferior */
}

body {
  min-height: 100vh;
  padding-bottom: 1.25rem;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 60px; /* Aumenta el margen inferior del cuerpo */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px; /* Aumenta el margen superior del contenedor */
  margin-bottom: 60px; /* Aumenta el margen inferior del contenedor */
}