body {
  min-height: 100vh;
  padding-bottom: 1.25rem;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 40px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Estilos para pantallas de hasta 576px (móviles) */
@media (max-width: 576px) {
  body {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas de hasta 768px (tablets) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Estilos para pantallas de hasta 992px (tablets y pantallas pequeñas) */
@media (max-width: 992px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas de hasta 1200px (tablets y pantallas medianas) */
@media (max-width: 1200px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}